@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded duration-150 p-[8px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }
}

.navbar__link:hover {
  color: #22C063;
  transform: all 0.4s
}

.navbar__link::after{
  position: absolute;
  content: '';
  background-color: #22C063;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.4s;
}

.navbar__link:hover::after{
  scale: 1;
}

.navbar__link_selected {
  color: #22C063;
  transform: all 0.4s
}

.navbar__link_selected::after{
  position: absolute;
  content: '';
  background-color: #22C063;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 1;
  transform-origin: left;
  transition: all 0.4s;
}

